html * {
  font-family: "Quicksand", sans-serif !important;
}

#nprogress .bar {
  height: 5px !important;
}

.ql-editor {
  min-height: 300px;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.home-image {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover !important ;
  background-size: fill !important;
}

.on-hover:hover {
  filter: invert(47%) sepia(95%) saturate(366%) hue-rotate(140deg)
    brightness(92%) contrast(102%);
}
